MONGO_URI="mongodb://mongodb:27017/aikyc"
JWT_SECRET=change_me_to_a_long_random_secret
PORT=5000
MONGO_DB=aikyc
MONGO_COLLECTION=kycrequests
EMAIL_USER=your_email@example.com
EMAIL_PASS=your_email_app_password
PYTHON_EXECUTABLE=python
